html,body{
  height: 100%;
  width: 100%;
}
.row{
padding: 0;margin: 0
}

section#game-section{
  text-align: center;
}
section#game-section .game{
  padding: 0;
  margin: 0;
  height:300px;
  display: table;
  background-color: rgb(0, 255, 255);
}
section#game-section .game .game-wrapper{
  display: table-cell;
  vertical-align: middle;
}
section#game-section .game .game-board{
  display: none;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  height:100%;
  width: 100%;
  background-color: rgb(255, 51, 204);
}
section#game-section .game .game-board .scores{
  height:20%;
  background-color: rgb(102, 0, 77);
  width: 100%;
  color: #fff;
}
section#game-section .try{
  height:100px;
  border: 1px solid rgb(110,110,110);
  border-radius: 5px;
  background-color: red;
  cursor: pointer;
}
